body { 
    font-family: 'Lato', serif;
    color: white; 
    background:#0B1425 url("background.jpg") no-repeat fixed; 
}
a:link {
    color: #AF11A8;
}
a:visited {
    color: #AF11A8;
}
a:hover {
    color: #AF11A8;
}
a:active {
    color: #AF11A8;
}
.important-title {
    color: orange;
}
.important-new {
    color: green;
}
.important-existing {
    color: #00BFFF;
}