.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 10px;
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1279px;
}

.u-section-2 .u-text-1 {
  text-transform: none;
  font-weight: 600;
  font-size: 3rem;
  margin: 59px auto 0;
}

.u-section-2 .u-text-2 {
  text-transform: none;
  letter-spacing: normal;
  font-style: normal;
  margin: 54px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 21px;
  margin-bottom: 30px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 18px));
  min-height: 935px;
  grid-auto-columns: calc(33.3333% - 18px);
  grid-gap: 27px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 9px 30px;
}

.u-section-2 .u-image-1 {
  height: 101px;
  width: 102px;
  background-image: url("https://hyperstone.highgroundvision.com/images/items/226.jpg");
  background-position: 50% 50%;
  margin: 11px 95px 0 auto;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 45px 0 55px;
}

.u-section-2 .u-text-4 {
  font-size: 1rem;
  margin: 21px 0 0;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 21px auto 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 9px 30px;
}

.u-section-2 .u-image-2 {
  height: 101px;
  width: 102px;
  background-image: url("https://hyperstone.highgroundvision.com/images/items/168.jpg");
  background-position: 50% 50%;
  margin: 11px 95px 0 auto;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 45px 0 55px;
}

.u-section-2 .u-text-6 {
  font-size: 1rem;
  margin: 21px 0 0;
}

.u-section-2 .u-btn-2 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 21px auto 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 9px 30px;
}

.u-section-2 .u-image-3 {
  height: 101px;
  width: 102px;
  background-image: url("https://hyperstone.highgroundvision.com/images/items/138.jpg");
  background-position: 50% 50%;
  margin: 11px 95px 0 auto;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 45px 0 55px;
}

.u-section-2 .u-text-8 {
  font-size: 1rem;
  margin: 21px 0 0;
}

.u-section-2 .u-btn-3 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 21px auto 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 9px 30px;
}

.u-section-2 .u-image-4 {
  height: 101px;
  width: 102px;
  background-image: url("https://hyperstone.highgroundvision.com/images/items/39.jpg");
  background-position: 50% 50%;
  margin: 11px 95px 0 auto;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 45px 0 55px;
}

.u-section-2 .u-text-10 {
  font-size: 1rem;
  margin: 21px 0 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-5 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 21px auto 0;
}

.u-section-2 .u-list-item-5 {
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 9px 30px;
}

.u-section-2 .u-image-5 {
  height: 101px;
  width: 102px;
  background-image: url("https://hyperstone.highgroundvision.com/images/items/124.jpg");
  background-position: 50% 50%;
  margin: 11px 95px 0 auto;
}

.u-section-2 .u-text-11 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 45px 0 55px;
}

.u-section-2 .u-text-12 {
  font-size: 1rem;
  margin: 21px 0 0;
}

.u-section-2 .u-btn-6 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 21px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1286px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 18px);
    min-height: 771px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-1 {
    width: 101px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
    width: 164px;
  }

  .u-section-2 .u-btn-1 {
    padding: 6px 46px 7px 45px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-2 {
    width: 101px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
    width: 164px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-3 {
    width: 101px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
    width: 164px;
  }

  .u-section-2 .u-btn-3 {
    padding: 6px 46px 7px 45px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-4 {
    width: 101px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
    width: 164px;
  }

  .u-section-2 .u-btn-5 {
    padding: 6px 46px 7px 45px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-5 {
    width: 101px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
    width: 164px;
  }

  .u-section-2 .u-btn-6 {
    padding: 6px 46px 7px 45px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1279px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 13.5px));
    grid-auto-columns: calc(50% - 13.5px);
    min-height: 1329px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    margin-top: 13px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 9px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1406px;
}

.u-section-3 .u-text-1 {
  text-transform: none;
  font-weight: 600;
  font-size: 3rem;
  margin: 59px auto 0;
}

.u-section-3 .u-text-2 {
  text-transform: none;
  letter-spacing: normal;
  font-style: normal;
  margin: 55px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: 22px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 18px));
  min-height: 1961px;
  grid-auto-columns: calc(33.3333% - 18px);
  grid-gap: 27px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 9px 30px;
}

.u-section-3 .u-image-1 {
  height: 102px;
  width: 102px;
  background-image: url("https://hyperstone.highgroundvision.com/images/items/132.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 9px auto 0;
}

.u-section-3 .u-text-4 {
  font-size: 1rem;
  margin: 23px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-3 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 21px auto 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 9px 30px;
}

.u-section-3 .u-image-2 {
  height: 102px;
  width: 102px;
  background-image: url("https://hyperstone.highgroundvision.com/images/items/87.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 9px auto 0;
}

.u-section-3 .u-text-6 {
  font-size: 1rem;
  margin: 23px 0 0;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-5 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 21px auto 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 9px 30px;
}

.u-section-3 .u-image-3 {
  height: 102px;
  width: 102px;
  background-image: url("https://hyperstone.highgroundvision.com/images/items/140.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 9px auto 0;
}

.u-section-3 .u-text-8 {
  font-size: 1rem;
  margin: 23px 0 0;
}

.u-section-3 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-7 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 21px auto 0;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 9px 30px;
}

.u-section-3 .u-image-4 {
  height: 102px;
  width: 102px;
  background-image: url("https://hyperstone.highgroundvision.com/images/items/148.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 9px auto 0;
}

.u-section-3 .u-text-10 {
  font-size: 1rem;
  margin: 23px 0 0;
}

.u-section-3 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-9 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 21px auto 0;
}

.u-section-3 .u-list-item-5 {
  background-image: none;
}

.u-section-3 .u-container-layout-5 {
  padding: 9px 30px;
}

.u-section-3 .u-image-5 {
  height: 102px;
  width: 102px;
  background-image: url("https://hyperstone.highgroundvision.com/images/items/55.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-11 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 9px auto 0;
}

.u-section-3 .u-text-12 {
  font-size: 1rem;
  margin: 23px 0 0;
}

.u-section-3 .u-btn-10 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-11 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 21px auto 0;
}

.u-section-3 .u-list-item-6 {
  background-image: none;
}

.u-section-3 .u-container-layout-6 {
  padding: 9px 30px;
}

.u-section-3 .u-image-6 {
  height: 102px;
  width: 102px;
  background-image: url("https://hyperstone.highgroundvision.com/images/items/138.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-13 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 9px auto 0;
}

.u-section-3 .u-text-14 {
  font-size: 1rem;
  margin: 23px 0 0;
}

.u-section-3 .u-btn-12 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 21px auto 0;
}

.u-section-3 .u-list-item-7 {
  background-image: none;
}

.u-section-3 .u-container-layout-7 {
  padding: 9px 30px;
}

.u-section-3 .u-image-7 {
  height: 102px;
  width: 102px;
  background-image: url("https://hyperstone.highgroundvision.com/images/items/44.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-15 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 9px auto 0;
}

.u-section-3 .u-text-16 {
  font-size: 1rem;
  margin: 23px 0 0;
}

.u-section-3 .u-btn-13 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 21px auto 0;
}

.u-section-3 .u-list-item-8 {
  background-image: none;
}

.u-section-3 .u-container-layout-8 {
  padding: 9px 30px;
}

.u-section-3 .u-image-8 {
  height: 102px;
  width: 102px;
  background-image: url("https://hyperstone.highgroundvision.com/images/items/10.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-17 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 9px auto 0;
}

.u-section-3 .u-text-18 {
  font-size: 1rem;
  margin: 23px 0 0;
}

.u-section-3 .u-btn-14 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-15 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 21px auto 0;
}

.u-section-3 .u-list-item-9 {
  background-image: none;
}

.u-section-3 .u-container-layout-9 {
  padding: 9px 30px;
}

.u-section-3 .u-image-9 {
  height: 102px;
  width: 102px;
  background-image: url("https://hyperstone.highgroundvision.com/images/items/53.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-19 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 9px auto 0;
}

.u-section-3 .u-text-20 {
  font-size: 1rem;
  margin: 23px 0 0;
}

.u-section-3 .u-btn-16 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 21px auto 0;
}

.u-section-3 .u-list-item-10 {
  background-image: none;
}

.u-section-3 .u-container-layout-10 {
  padding: 9px 30px;
}

.u-section-3 .u-image-10 {
  height: 102px;
  width: 102px;
  background-image: url("https://hyperstone.highgroundvision.com/images/items/52.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-21 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 9px auto 0;
}

.u-section-3 .u-text-22 {
  font-size: 1rem;
  margin: 23px 0 0;
}

.u-section-3 .u-btn-17 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 21px auto 0;
}

.u-section-3 .u-list-item-11 {
  background-image: none;
}

.u-section-3 .u-container-layout-11 {
  padding: 9px 30px;
}

.u-section-3 .u-image-11 {
  height: 102px;
  width: 102px;
  background-image: url("https://hyperstone.highgroundvision.com/images/items/39.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-23 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 9px auto 0;
}

.u-section-3 .u-text-24 {
  font-size: 1rem;
  margin: 23px 0 0;
}

.u-section-3 .u-btn-18 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 21px auto 0;
}

.u-section-3 .u-list-item-12 {
  background-image: none;
}

.u-section-3 .u-container-layout-12 {
  padding: 9px 30px;
}

.u-section-3 .u-image-12 {
  height: 102px;
  width: 102px;
  background-image: url("https://hyperstone.highgroundvision.com/images/items/226.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-25 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 9px auto 0;
}

.u-section-3 .u-text-26 {
  font-size: 1rem;
  margin: 23px 0 0;
}

.u-section-3 .u-btn-19 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 21px auto 0;
}

.u-section-3 .u-list-item-13 {
  background-image: none;
}

.u-section-3 .u-container-layout-13 {
  padding: 9px 30px;
}

.u-section-3 .u-image-13 {
  height: 102px;
  width: 102px;
  background-image: url("https://hyperstone.highgroundvision.com/images/items/212.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-27 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 9px auto 0;
}

.u-section-3 .u-text-28 {
  font-size: 1rem;
  margin: 23px 0 0;
}

.u-section-3 .u-btn-20 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 21px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1286px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 18px);
    min-height: 1617px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-btn-5 {
    padding: 6px 46px 7px 45px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-btn-7 {
    padding: 6px 46px 7px 45px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-btn-9 {
    padding: 6px 46px 7px 45px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-btn-11 {
    padding: 6px 46px 7px 45px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-btn-12 {
    padding: 6px 46px 7px 45px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-btn-13 {
    padding: 6px 46px 7px 45px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-btn-15 {
    padding: 6px 46px 7px 45px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-btn-16 {
    padding: 6px 46px 7px 45px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-btn-17 {
    padding: 6px 46px 7px 45px;
  }

  .u-section-3 .u-container-layout-11 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-btn-18 {
    padding: 6px 46px 7px 45px;
  }

  .u-section-3 .u-container-layout-12 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-btn-19 {
    padding: 6px 46px 7px 45px;
  }

  .u-section-3 .u-container-layout-13 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-btn-20 {
    padding: 6px 46px 7px 45px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1406px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 13.5px));
    grid-auto-columns: calc(50% - 13.5px);
    min-height: 2601px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-2 {
    margin-top: 13px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 9px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-11 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-12 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-13 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 695px;
}

.u-section-4 .u-text-1 {
  text-transform: none;
  font-weight: 600;
  font-size: 3rem;
  margin: 55px auto 0;
}

.u-section-4 .u-text-2 {
  text-transform: none;
  letter-spacing: normal;
  font-style: normal;
  margin: 55px auto 0;
}

.u-section-4 .u-list-1 {
  margin-top: 21px;
  margin-bottom: 44px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 18px));
  min-height: 340px;
  grid-auto-columns: calc(33.3333% - 18px);
  grid-gap: 27px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 9px 30px;
}

.u-section-4 .u-image-1 {
  height: 101px;
  width: 102px;
  margin: 11px 95px 0 auto;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 45px 0 55px;
}

.u-section-4 .u-text-4 {
  font-size: 1rem;
  margin: 21px 0 0;
}

.u-section-4 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 21px auto 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 9px 30px;
}

.u-section-4 .u-image-2 {
  height: 101px;
  width: 102px;
  margin: 11px 95px 0 auto;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 45px 0 55px;
}

.u-section-4 .u-text-6 {
  font-size: 1rem;
  margin: 21px 0 0;
}

.u-section-4 .u-btn-2 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 21px auto 0;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 9px 30px;
}

.u-section-4 .u-image-3 {
  height: 101px;
  width: 102px;
  margin: 11px 95px 0 auto;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 45px 0 55px;
}

.u-section-4 .u-text-8 {
  font-size: 1rem;
  margin: 21px 0 0;
}

.u-section-4 .u-btn-3 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 21px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1286px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 18px);
    min-height: 280px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-1 {
    width: 101px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
    width: 164px;
  }

  .u-section-4 .u-btn-1 {
    padding: 6px 46px 7px 45px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-2 {
    width: 101px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
    width: 164px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-3 {
    width: 101px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
    width: 164px;
  }

  .u-section-4 .u-btn-3 {
    padding: 6px 46px 7px 45px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 695px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 13.5px));
    grid-auto-columns: calc(50% - 13.5px);
    min-height: 643px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-2 {
    margin-top: 13px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 9px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 698px;
}

.u-section-5 .u-text-1 {
  text-transform: none;
  font-weight: 600;
  font-size: 3rem;
  margin: 58px auto 0;
}

.u-section-5 .u-text-2 {
  text-transform: none;
  letter-spacing: normal;
  font-style: normal;
  margin: 55px auto 0;
}

.u-section-5 .u-list-1 {
  margin-top: 21px;
  margin-bottom: 44px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 18px));
  min-height: 340px;
  grid-auto-columns: calc(33.3333% - 18px);
  grid-gap: 27px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 9px 0;
}

.u-section-5 .u-image-1 {
  width: 338px;
  height: 189px;
  margin: 10px auto 0;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 21px 75px 0 85px;
}

.u-section-5 .u-text-4 {
  font-size: 1rem;
  margin: 21px 30px 0;
}

.u-section-5 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 21px auto 0;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 9px 0;
}

.u-section-5 .u-image-2 {
  width: 338px;
  height: 189px;
  margin: 10px auto 0;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 21px 75px 0 85px;
}

.u-section-5 .u-text-6 {
  font-size: 1rem;
  margin: 21px 30px 0;
}

.u-section-5 .u-btn-2 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 21px auto 0;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 9px 0;
}

.u-section-5 .u-image-3 {
  width: 338px;
  height: 189px;
  margin: 10px auto 0;
}

.u-section-5 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 21px 75px 0 85px;
}

.u-section-5 .u-text-8 {
  font-size: 1rem;
  margin: 21px 30px 0;
}

.u-section-5 .u-btn-3 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 21px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1286px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 18px);
    min-height: 280px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
    font-weight: 400;
  }

  .u-section-5 .u-btn-1 {
    padding: 6px 46px 7px 45px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
    font-weight: 400;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
    font-weight: 400;
  }

  .u-section-5 .u-btn-3 {
    padding: 6px 46px 7px 45px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 698px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 13.5px));
    grid-auto-columns: calc(50% - 13.5px);
    min-height: 643px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-2 {
    margin-top: 13px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 9px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 459px;
}

.u-section-6 .u-group-1 {
  width: 800px;
  min-height: 447px;
  height: auto;
  margin: 30px auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 39px auto 0;
}

.u-section-6 .u-text-2 {
  margin: 21px 0 0 10px;
}

.u-section-6 .u-image-1 {
  width: 370px;
  height: 69px;
  margin: 21px auto 0 10px;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  margin: 9px auto 0 10px;
  padding: 0;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  margin: 10px auto 0 10px;
  padding: 0;
}

.u-section-6 .u-btn-3 {
  background-image: none;
  border-style: none none solid;
  margin: 10px auto 0 10px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-group-1 {
    width: 720px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
  }

  .u-section-6 .u-image-1 {
    margin-left: 0;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-6 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-6 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-group-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-6 .u-group-1 {
    width: 340px;
    margin-top: -13px;
    margin-bottom: -13px;
  }

  .u-section-6 .u-image-1 {
    width: 320px;
    height: 60px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 10px;
}